#rh_default_topic_placeholder_id p.FM_HeadingRunIn {
                                                    margin-left:0.000pt;
                                                    margin-right:0.000pt;
                                                    text-align:left;
                                                    text-indent:0.000pt;
                                                    margin-top:12.000pt;
                                                    margin-bottom:6.000pt;
                                                    word-spacing:0.250em;
                                                    font-family:Times New Roman;
                                                    font-style:normal;
                                                    font-weight:bold;
                                                    font-size:12.0pt;
                                                    color:#000000;
                                                    background-color:none;
                                                    text-decoration:none;
                                                    letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_HeadingRunIn {
                                                          margin-left:0.000pt;
                                                          margin-right:0.000pt;
                                                          text-align:left;
                                                          text-indent:0.000pt;
                                                          margin-top:12.000pt;
                                                          margin-bottom:6.000pt;
                                                          word-spacing:0.250em;
                                                          font-family:Times New Roman;
                                                          font-style:normal;
                                                          font-weight:bold;
                                                          font-size:12.0pt;
                                                          color:#000000;
                                                          background-color:none;
                                                          text-decoration:none;
                                                          letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_TableFootnote {
                                                     margin-left:18.000pt;
                                                     margin-right:18.000pt;
                                                     text-align:left;
                                                     text-indent:-12.000pt;
                                                     margin-top:3.000pt;
                                                     margin-bottom:0.000pt;
                                                     word-spacing:0.250em;
                                                     font-family:Times New Roman;
                                                     font-style:normal;
                                                     font-weight:normal;
                                                     font-size:10.0pt;
                                                     color:#000000;
                                                     background-color:none;
                                                     text-decoration:none;
                                                     letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_TableFootnote {
                                                           margin-left:18.000pt;
                                                           margin-right:18.000pt;
                                                           text-align:left;
                                                           text-indent:-12.000pt;
                                                           margin-top:3.000pt;
                                                           margin-bottom:0.000pt;
                                                           word-spacing:0.250em;
                                                           font-family:Times New Roman;
                                                           font-style:normal;
                                                           font-weight:normal;
                                                           font-size:10.0pt;
                                                           color:#000000;
                                                           background-color:none;
                                                           text-decoration:none;
                                                           letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.Figure {
                                           display:block;
                                           text-align:left;
                                           color:black;
                                           text-decoration:none;
                                           vertical-align:baseline;
                                           text-transform:none;
                                           font:italic 400 normal 10pt Lucida Sans;
                                           margin:10pt 0pt 0pt 10pt;
                                           letter-spacing:normal;
                                           word-spacing:normal;
}
#rh_default_topic_placeholder_id caption.Figure {
                                                 display:block;
                                                 text-align:left;
                                                 color:black;
                                                 text-decoration:none;
                                                 vertical-align:baseline;
                                                 text-transform:none;
                                                 font:italic 400 normal 10pt Lucida Sans;
                                                 margin:10pt 0pt 0pt 10pt;
                                                 letter-spacing:normal;
                                                 word-spacing:normal;
}
#rh_default_topic_placeholder_id p.FM_ReportTitle {
                                                   margin-left:0.000pt;
                                                   margin-right:0.000pt;
                                                   text-align:center;
                                                   text-indent:0.000pt;
                                                   margin-top:0.000pt;
                                                   margin-bottom:18.000pt;
                                                   word-spacing:0.250em;
                                                   font-family:Times New Roman;
                                                   font-style:normal;
                                                   font-weight:normal;
                                                   font-size:24.0pt;
                                                   color:#000000;
                                                   background-color:none;
                                                   text-decoration:none;
                                                   letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_ReportTitle {
                                                         margin-left:0.000pt;
                                                         margin-right:0.000pt;
                                                         text-align:center;
                                                         text-indent:0.000pt;
                                                         margin-top:0.000pt;
                                                         margin-bottom:18.000pt;
                                                         word-spacing:0.250em;
                                                         font-family:Times New Roman;
                                                         font-style:normal;
                                                         font-weight:normal;
                                                         font-size:24.0pt;
                                                         color:#000000;
                                                         background-color:none;
                                                         text-decoration:none;
                                                         letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_Numbered1 {
                                                 margin-left:13.745pt;
                                                 margin-right:0.000pt;
                                                 text-align:left;
                                                 text-indent:-13.745pt;
                                                 margin-top:6.000pt;
                                                 margin-bottom:0.000pt;
                                                 word-spacing:0.250em;
                                                 font-family:Times New Roman;
                                                 font-style:normal;
                                                 font-weight:normal;
                                                 font-size:12.0pt;
                                                 color:#000000;
                                                 background-color:none;
                                                 text-decoration:none;
                                                 letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_Numbered1 {
                                                       margin-left:13.745pt;
                                                       margin-right:0.000pt;
                                                       text-align:left;
                                                       text-indent:-13.745pt;
                                                       margin-top:6.000pt;
                                                       margin-bottom:0.000pt;
                                                       word-spacing:0.250em;
                                                       font-family:Times New Roman;
                                                       font-style:normal;
                                                       font-weight:normal;
                                                       font-size:12.0pt;
                                                       color:#000000;
                                                       background-color:none;
                                                       text-decoration:none;
                                                       letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_Numbered {
                                                margin-left:13.745pt;
                                                margin-right:0.000pt;
                                                text-align:left;
                                                text-indent:-13.745pt;
                                                margin-top:6.000pt;
                                                margin-bottom:0.000pt;
                                                word-spacing:0.250em;
                                                font-family:Times New Roman;
                                                font-style:normal;
                                                font-weight:normal;
                                                font-size:12.0pt;
                                                color:#000000;
                                                background-color:none;
                                                text-decoration:none;
                                                letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_Numbered {
                                                      margin-left:13.745pt;
                                                      margin-right:0.000pt;
                                                      text-align:left;
                                                      text-indent:-13.745pt;
                                                      margin-top:6.000pt;
                                                      margin-bottom:0.000pt;
                                                      word-spacing:0.250em;
                                                      font-family:Times New Roman;
                                                      font-style:normal;
                                                      font-weight:normal;
                                                      font-size:12.0pt;
                                                      color:#000000;
                                                      background-color:none;
                                                      text-decoration:none;
                                                      letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_BulletedCont {
                                                    margin-left:13.745pt;
                                                    margin-right:0.000pt;
                                                    text-align:left;
                                                    text-indent:0.000pt;
                                                    margin-top:4.000pt;
                                                    margin-bottom:0.000pt;
                                                    word-spacing:0.250em;
                                                    font-family:Times New Roman;
                                                    font-style:normal;
                                                    font-weight:normal;
                                                    font-size:12.0pt;
                                                    color:#000000;
                                                    background-color:none;
                                                    text-decoration:none;
                                                    letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_BulletedCont {
                                                          margin-left:13.745pt;
                                                          margin-right:0.000pt;
                                                          text-align:left;
                                                          text-indent:0.000pt;
                                                          margin-top:4.000pt;
                                                          margin-bottom:0.000pt;
                                                          word-spacing:0.250em;
                                                          font-family:Times New Roman;
                                                          font-style:normal;
                                                          font-weight:normal;
                                                          font-size:12.0pt;
                                                          color:#000000;
                                                          background-color:none;
                                                          text-decoration:none;
                                                          letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_ReportAuthor {
                                                    margin-left:0.000pt;
                                                    margin-right:0.000pt;
                                                    text-align:center;
                                                    text-indent:0.000pt;
                                                    margin-top:0.000pt;
                                                    margin-bottom:0.000pt;
                                                    word-spacing:0.250em;
                                                    font-family:Times New Roman;
                                                    font-style:normal;
                                                    font-weight:bold;
                                                    font-size:12.0pt;
                                                    color:#000000;
                                                    background-color:none;
                                                    text-decoration:none;
                                                    letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_ReportAuthor {
                                                          margin-left:0.000pt;
                                                          margin-right:0.000pt;
                                                          text-align:center;
                                                          text-indent:0.000pt;
                                                          margin-top:0.000pt;
                                                          margin-bottom:0.000pt;
                                                          word-spacing:0.250em;
                                                          font-family:Times New Roman;
                                                          font-style:normal;
                                                          font-weight:bold;
                                                          font-size:12.0pt;
                                                          color:#000000;
                                                          background-color:none;
                                                          text-decoration:none;
                                                          letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_Extract {
                                               margin-left:54.000pt;
                                               margin-right:54.000pt;
                                               text-align:left;
                                               text-indent:0.000pt;
                                               margin-top:7.000pt;
                                               margin-bottom:0.000pt;
                                               word-spacing:0.250em;
                                               font-family:Times New Roman;
                                               font-style:normal;
                                               font-weight:normal;
                                               font-size:12.0pt;
                                               color:#000000;
                                               background-color:none;
                                               text-decoration:none;
                                               letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_Extract {
                                                     margin-left:54.000pt;
                                                     margin-right:54.000pt;
                                                     text-align:left;
                                                     text-indent:0.000pt;
                                                     margin-top:7.000pt;
                                                     margin-bottom:0.000pt;
                                                     word-spacing:0.250em;
                                                     font-family:Times New Roman;
                                                     font-style:normal;
                                                     font-weight:normal;
                                                     font-size:12.0pt;
                                                     color:#000000;
                                                     background-color:none;
                                                     text-decoration:none;
                                                     letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_ExamplePage {
                                                   margin-left:0.000pt;
                                                   margin-right:0.000pt;
                                                   text-align:left;
                                                   text-indent:0.000pt;
                                                   margin-top:12.000pt;
                                                   margin-bottom:6.000pt;
                                                   word-spacing:0.250em;
                                                   font-family:Times New Roman;
                                                   font-style:normal;
                                                   font-weight:normal;
                                                   font-size:12.0pt;
                                                   color:#000000;
                                                   background-color:none;
                                                   text-decoration:underline;
                                                   letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_ExamplePage {
                                                         margin-left:0.000pt;
                                                         margin-right:0.000pt;
                                                         text-align:left;
                                                         text-indent:0.000pt;
                                                         margin-top:12.000pt;
                                                         margin-bottom:6.000pt;
                                                         word-spacing:0.250em;
                                                         font-family:Times New Roman;
                                                         font-style:normal;
                                                         font-weight:normal;
                                                         font-size:12.0pt;
                                                         color:#000000;
                                                         background-color:none;
                                                         text-decoration:underline;
                                                         letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.Heading3 {
                                             display:block;
                                             text-align:left;
                                             text-indent:0pt;
                                             color:black;
                                             text-decoration:none;
                                             vertical-align:baseline;
                                             text-transform:none;
                                             font:bold normal 14pt Arial;
                                             margin:14pt 0pt 0pt 30pt;
}
#rh_default_topic_placeholder_id caption.Heading3 {
                                                   display:block;
                                                   text-align:left;
                                                   text-indent:0pt;
                                                   color:black;
                                                   text-decoration:none;
                                                   vertical-align:baseline;
                                                   text-transform:none;
                                                   font:bold normal 14pt Arial;
                                                   margin:14pt 0pt 0pt 30pt;
}
#rh_default_topic_placeholder_id p.Heading2 {
                                             display:block;
                                             text-align:left;
                                             text-indent:0pt;
                                             color:black;
                                             text-decoration:none;
                                             vertical-align:baseline;
                                             text-transform:none;
                                             font:bold normal 14pt Arial;
                                             margin:14pt 0pt 0pt 30pt;
}
#rh_default_topic_placeholder_id caption.Heading2 {
                                                   display:block;
                                                   text-align:left;
                                                   text-indent:0pt;
                                                   color:black;
                                                   text-decoration:none;
                                                   vertical-align:baseline;
                                                   text-transform:none;
                                                   font:bold normal 14pt Arial;
                                                   margin:14pt 0pt 0pt 30pt;
}
#rh_default_topic_placeholder_id p.FM_Footnote {
                                                margin-left:12.000pt;
                                                margin-right:0.000pt;
                                                text-align:left;
                                                text-indent:-12.000pt;
                                                margin-top:3.000pt;
                                                margin-bottom:0.000pt;
                                                word-spacing:0.250em;
                                                font-family:Times New Roman;
                                                font-style:normal;
                                                font-weight:normal;
                                                font-size:10.0pt;
                                                color:#000000;
                                                background-color:none;
                                                text-decoration:none;
                                                letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_Footnote {
                                                      margin-left:12.000pt;
                                                      margin-right:0.000pt;
                                                      text-align:left;
                                                      text-indent:-12.000pt;
                                                      margin-top:3.000pt;
                                                      margin-bottom:0.000pt;
                                                      word-spacing:0.250em;
                                                      font-family:Times New Roman;
                                                      font-style:normal;
                                                      font-weight:normal;
                                                      font-size:10.0pt;
                                                      color:#000000;
                                                      background-color:none;
                                                      text-decoration:none;
                                                      letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.Heading1 {
                                             display:block;
                                             text-align:left;
                                             text-indent:0pt;
                                             color:black;
                                             text-decoration:none;
                                             vertical-align:baseline;
                                             text-transform:none;
                                             font:bold normal 14pt Arial;
                                             margin:15pt 0pt 0pt 30pt;
}
#rh_default_topic_placeholder_id caption.Heading1 {
                                                   display:block;
                                                   text-align:left;
                                                   text-indent:0pt;
                                                   color:black;
                                                   text-decoration:none;
                                                   vertical-align:baseline;
                                                   text-transform:none;
                                                   font:bold normal 14pt Arial;
                                                   margin:15pt 0pt 0pt 30pt;
}
#rh_default_topic_placeholder_id p.FM_CellHeading {
                                                   margin-left:0.000pt;
                                                   margin-right:0.000pt;
                                                   text-align:left;
                                                   text-indent:0.000pt;
                                                   margin-top:0.000pt;
                                                   margin-bottom:0.000pt;
                                                   word-spacing:0.250em;
                                                   font-family:Times New Roman;
                                                   font-style:normal;
                                                   font-weight:bold;
                                                   font-size:10.0pt;
                                                   color:#000000;
                                                   background-color:none;
                                                   text-decoration:none;
                                                   letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_CellHeading {
                                                         margin-left:0.000pt;
                                                         margin-right:0.000pt;
                                                         text-align:left;
                                                         text-indent:0.000pt;
                                                         margin-top:0.000pt;
                                                         margin-bottom:0.000pt;
                                                         word-spacing:0.250em;
                                                         font-family:Times New Roman;
                                                         font-style:normal;
                                                         font-weight:bold;
                                                         font-size:10.0pt;
                                                         color:#000000;
                                                         background-color:none;
                                                         text-decoration:none;
                                                         letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_TableTitle {
                                                  margin-left:13.745pt;
                                                  margin-right:0.000pt;
                                                  text-align:left;
                                                  text-indent:0.000pt;
                                                  margin-top:0.000pt;
                                                  margin-bottom:0.000pt;
                                                  word-spacing:0.250em;
                                                  font-family:Times New Roman;
                                                  font-style:normal;
                                                  font-weight:bold;
                                                  font-size:10.0pt;
                                                  color:#000000;
                                                  background-color:none;
                                                  text-decoration:none;
                                                  letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_TableTitle {
                                                        margin-left:13.745pt;
                                                        margin-right:0.000pt;
                                                        text-align:left;
                                                        text-indent:0.000pt;
                                                        margin-top:0.000pt;
                                                        margin-bottom:0.000pt;
                                                        word-spacing:0.250em;
                                                        font-family:Times New Roman;
                                                        font-style:normal;
                                                        font-weight:bold;
                                                        font-size:10.0pt;
                                                        color:#000000;
                                                        background-color:none;
                                                        text-decoration:none;
                                                        letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_ExampleCode {
                                                   margin-left:0.000pt;
                                                   margin-right:0.000pt;
                                                   text-align:left;
                                                   text-indent:0.000pt;
                                                   margin-top:0.000pt;
                                                   margin-bottom:0.000pt;
                                                   word-spacing:0.250em;
                                                   font-family:Arial;
                                                   font-style:normal;
                                                   font-weight:normal;
                                                   font-size:10.0pt;
                                                   color:#000000;
                                                   background-color:none;
                                                   text-decoration:none;
                                                   letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_ExampleCode {
                                                         margin-left:0.000pt;
                                                         margin-right:0.000pt;
                                                         text-align:left;
                                                         text-indent:0.000pt;
                                                         margin-top:0.000pt;
                                                         margin-bottom:0.000pt;
                                                         word-spacing:0.250em;
                                                         font-family:Arial;
                                                         font-style:normal;
                                                         font-weight:normal;
                                                         font-size:10.0pt;
                                                         color:#000000;
                                                         background-color:none;
                                                         text-decoration:none;
                                                         letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_NumberedCont {
                                                    margin-left:13.745pt;
                                                    margin-right:0.000pt;
                                                    text-align:left;
                                                    text-indent:0.000pt;
                                                    margin-top:4.000pt;
                                                    margin-bottom:0.000pt;
                                                    word-spacing:0.250em;
                                                    font-family:Times New Roman;
                                                    font-style:normal;
                                                    font-weight:normal;
                                                    font-size:12.0pt;
                                                    color:#000000;
                                                    background-color:none;
                                                    text-decoration:none;
                                                    letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_NumberedCont {
                                                          margin-left:13.745pt;
                                                          margin-right:0.000pt;
                                                          text-align:left;
                                                          text-indent:0.000pt;
                                                          margin-top:4.000pt;
                                                          margin-bottom:0.000pt;
                                                          word-spacing:0.250em;
                                                          font-family:Times New Roman;
                                                          font-style:normal;
                                                          font-weight:normal;
                                                          font-size:12.0pt;
                                                          color:#000000;
                                                          background-color:none;
                                                          text-decoration:none;
                                                          letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_Equation {
                                                margin-left:0.000pt;
                                                margin-right:0.000pt;
                                                text-align:center;
                                                text-indent:0.000pt;
                                                margin-top:10.000pt;
                                                margin-bottom:6.000pt;
                                                word-spacing:0.250em;
                                                font-family:Times New Roman;
                                                font-style:normal;
                                                font-weight:normal;
                                                font-size:10.0pt;
                                                color:#000000;
                                                background-color:none;
                                                text-decoration:none;
                                                letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_Equation {
                                                      margin-left:0.000pt;
                                                      margin-right:0.000pt;
                                                      text-align:center;
                                                      text-indent:0.000pt;
                                                      margin-top:10.000pt;
                                                      margin-bottom:6.000pt;
                                                      word-spacing:0.250em;
                                                      font-family:Times New Roman;
                                                      font-style:normal;
                                                      font-weight:normal;
                                                      font-size:10.0pt;
                                                      color:#000000;
                                                      background-color:none;
                                                      text-decoration:none;
                                                      letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.FM_Bulleted {
                                                margin-left:13.745pt;
                                                margin-right:0.000pt;
                                                text-align:left;
                                                text-indent:-13.745pt;
                                                margin-top:6.000pt;
                                                margin-bottom:0.000pt;
                                                word-spacing:0.250em;
                                                font-family:Times New Roman;
                                                font-style:normal;
                                                font-weight:normal;
                                                font-size:12.0pt;
                                                color:#000000;
                                                background-color:none;
                                                text-decoration:none;
                                                letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id caption.FM_Bulleted {
                                                      margin-left:13.745pt;
                                                      margin-right:0.000pt;
                                                      text-align:left;
                                                      text-indent:-13.745pt;
                                                      margin-top:6.000pt;
                                                      margin-bottom:0.000pt;
                                                      word-spacing:0.250em;
                                                      font-family:Times New Roman;
                                                      font-style:normal;
                                                      font-weight:normal;
                                                      font-size:12.0pt;
                                                      color:#000000;
                                                      background-color:none;
                                                      text-decoration:none;
                                                      letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id p.Body {
                                         display:block;
                                         text-align:justify;
                                         text-indent:0.000000pt;
                                         margin-top:6.000000pt;
                                         margin-bottom:0.000000pt;
                                         margin-right:0.000000pt;
                                         margin-left:30pt;
                                         color:black;
                                         text-decoration:none;
                                         vertical-align:baseline;
                                         text-transform:none;
                                         font:400 normal 12pt/16pt Lucida Sans;
}
#rh_default_topic_placeholder_id caption.Body {
                                               display:block;
                                               text-align:justify;
                                               text-indent:0.000000pt;
                                               margin-top:6.000000pt;
                                               margin-bottom:0.000000pt;
                                               margin-right:0.000000pt;
                                               margin-left:30pt;
                                               color:black;
                                               text-decoration:none;
                                               vertical-align:baseline;
                                               text-transform:none;
                                               font:400 normal 12pt/16pt Lucida Sans;
}
#rh_default_topic_placeholder_id OL {
                                     margin-top:0px;
                                     margin-bottom:0px;
}
#rh_default_topic_placeholder_id UL {
                                     margin-top:0px;
                                     margin-bottom:0px;
}
#rh_default_topic_placeholder_id span.FM_Callout {
                                                  font-family:Times New Roman;
                                                  font-style:normal;
                                                  font-weight:normal;
                                                  font-size:10.0pt;
                                                  color:#000000;
                                                  letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id span.FM_Emphasis {
                                                   font-style:italic;
}
#rh_default_topic_placeholder_id span.FM_BulletSymbol {
                                                       font-family:Courier New;
                                                       font-style:normal;
                                                       font-weight:bold;
                                                       font-size:12.0pt;
                                                       color:#000000;
                                                       letter-spacing:0.00em;
}
#rh_default_topic_placeholder_id span.FM_EquationVariables {
                                                            font-style:italic;
}
